<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="static(title)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <style type="text/css">
        .odd{
            background-color: #7d7d7d;
        }
    </style>
</head>

<head id="xxxx" th:fragment="static(title)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <style type="text/css">
        .odd{
            background-color: #7d7d7d;
        }
    </style>
</head>