<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="common/head::static('页面标题')"></div>
<body>
<div class="container">
    <table class="table">
        <tr>
            <td>下标</td>
            <td>序号</td>
            <td>作者</td>
            <td>教程名称</td>
            <td>创建时间</td>
        </tr>
        <tr th:each="item,stat : ${articles}" th:class="${stat.even}?'even':'odd'">
            <td th:text="${stat.index}"></td>
            <td th:text="${stat.count}"></td>
            <td th:text="${#strings.capitalizeWords(item.author)}"></td>
            <td th:text="${item.title}"></td>
            <td th:text="${#dates.format(item.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
    </table>

    <div th:text="${'I am ' + (articles[0].author!=null?articles[0].author:'Nobody')}"></div>
    <form id="articleForm" th:object="${articles[0]}">
        <input id="id" name="id" th:value="*{id}"/>
        <input id="author" name="author" th:value="*{author}"/>
        <input id="content" name="content" th:value="*{content}"/>
    </form>

    <div th:if="${articles}">
        <div>文章列表存在</div>
    </div>

    <h1>ThymeLeaf内置对象</h1>
    <br/>语言国家：<span th:text="${#locale.getLanguage()+'_'+#locale.getCountry()}"></span>
    <br/>param：<span th:text="${param.name1}"></span>
    <br/>request：<span th:text="${name2}"></span>
    <br/>session：<span th:text="${session.name3}"></span>
    <br/>application：<span th:text="${application.name4}"></span>
    <br/>session包含name3属性么（如不包含显示zoo）：<span th:text="${session.name3}?:('zoo')"></span>
    <br/>session包含属性数量：<span th:text="${session.size()}"></span>
    <br/>session是空的么：<span th:text="${session.isEmpty()}"></span>
</div>
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script th:inline="javascript">
    var LANG_COUNTRY = [[${#locale.getLanguage()+'_'+#locale.getCountry()}]]; // [[]]， thymeleaf内联js的使用，可以让js接收到thymeleaf的变量
</script>
</body>
</html>